BOT_TOKEN=
COMMAND_CHANNEL_ID=
ROLE=main
STREAM_ROOT=/streams
API_PORT=3000
INTERNAL_TOKEN=change-me
MUSIC_WORKER_URL=http://music-worker:8080
PIPIT_API_URL=http://127.0.0.1:3000
DASHBOARD_TOKEN=change-me